<!-- The directive  *ngIf is firstused to show nothing if the quiz isn’t loaded; second, to only display the app-question-form component if the showResults flag is false -->

<div class="quiz" *ngIf="quiz">
  <div class="questions" *ngIf="!showResults">
    <app-question-form
      [question]="quiz.questions[currentQuestionIndex]"
      (onChoiceMade)="updateChoice($event)"
    >
    </app-question-form>

    <button
      class="btn btn-success"
      (click)="nextOrViewResults()"
      [disabled]="!answers.values[currentQuestionIndex]"
    >
      {{
        currentQuestionIndex === quiz.questions.length - 1
          ? "View results"
          : "Next"
      }}
    </button>
  </div>
</div>

<!-- NOTE The bracket and parentheses match the decorators used in the component to define its API: @Input (brackets) [question] or @Output (parentheses) (onChoiceMade). -->
