<!-- *ngIf="question" directive only renders the element it applies to -->
<div class="quiz" *ngIf="question">
  <!-- Line below is how the question is rendered -->
  <!-- The {{}} is interpolation which is kind of a 1 way binding -->
  <h2>{{ question.label }}</h2>
  <form [formGroup]="form">
    <div class="form-group">
      <!-- the ngFor directive allows you to loop over a collection inside of the template - using it to render as many radio buttons as there are choices in the question -->
      <label *ngFor="let choice of question.choices" class="answerChoices">
        <mat-radio-group class="radio-group" formControlName="choice">
          <mat-radio-button class="example-radio-button" [value]="choice">
            {{ choice.value }}
          </mat-radio-button>
        </mat-radio-group>
      </label>
      <!-- <label *ngFor="let choice of question.choices" class="answerChoices">
        <br />
        <input type="radio" [value]="choice" formControlName="choice" />

        {{ choice.value }}
      </label> -->
    </div>
  </form>
</div>

<!-- <label id="example-radio-group-label">Pick your favorite season</label>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div>Your favorite season is: {{favoriteSeason}}</div> -->
