@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.container {
  display: inline-block;
}
.quiz-card {
  max-width: 400px;
  margin-bottom: 20px;
}
.tool-bar-container {
  margin-bottom: 20px;
  text-align: center;
}
.white {
  color: #ffffff;
  text-decoration: none;
}
